COMPOSE_PROJECT_NAME=openaudit

PORTAL_PORT=9090
PA11Y_PORT=4000
LHCI_PORT=9001
MONGO_PORT=27017
MATOMO_PORT=8088
MAUTIC_PORT=8089

PA11Y_DASHBOARD_REF=main
OOBEE_REF=master

PA11Y_SITE_MESSAGE=OpenAudit accessibility monitoring
PA11Y_READONLY=false
PA11Y_CRON=0 30 0 * * *

LHCI_BASIC_AUTH_USERNAME=admin
LHCI_BASIC_AUTH_PASSWORD=change-me
LHCI_BUILD_TOKEN=replace-with-project-build-token
LHCI_PROJECT_ADMIN_TOKEN=
LHCI_NUMBER_OF_RUNS=3
LHCI_SETTINGS_PRESET=desktop
LIGHTHOUSE_SETTINGS_PRESET=desktop
LHCI_SCHEDULE_INTERVAL_MINUTES=1440
LHCI_SCHEDULE_RUN_ON_START=true
LHCI_PROJECT_NAME=OpenAudit Website
LHCI_CODE_HOSTING_URL=https://github.com/your-org/your-repo
LHCI_BUILD_CONTEXT__CURRENT_HASH=0000000000000000000000000000000000000000
LHCI_BUILD_CONTEXT__CURRENT_BRANCH=main
LHCI_BUILD_CONTEXT__COMMIT_MESSAGE=OpenAudit manual Lighthouse run
LHCI_BUILD_CONTEXT__COMMIT_TIME=2026-06-11T09:00:00.000Z
LHCI_BUILD_CONTEXT__AUTHOR=OpenAudit <openaudit@local>
LHCI_BUILD_CONTEXT__AVATAR_URL=https://www.gravatar.com/avatar/00000000000000000000000000000000.jpg?d=identicon

DEFAULT_TARGET_URL=https://example.gov.au

POSTGRES_DB=openaudit
POSTGRES_USER=openaudit
POSTGRES_PASSWORD=openaudit
SCHEDULE_CHECK_SECONDS=300
LIGHTHOUSE_PAGE_LIMIT=3
CRAWL_MAX_DEPTH=3
PA11Y_PAGE_LIMIT=20
PA11Y_STANDARD=WCAG2AA
PA11Y_TIMEOUT_MS=60000
ALLOW_PRIVATE_TARGETS=false

MATOMO_DATABASE=matomo
MATOMO_DATABASE_USER=matomo
MATOMO_DATABASE_PASSWORD=matomo
MATOMO_DATABASE_ROOT_PASSWORD=matomo-root
MATOMO_SITE_ID=1
MATOMO_TOKEN_AUTH=

MAUTIC_DB_NAME=mautic
MAUTIC_DB_USER=mautic
MAUTIC_DB_PASSWORD=mautic
MAUTIC_DB_ROOT_PASSWORD=mautic-root
MAUTIC_RUN_CRON_JOBS=true

DRUPAL_BASE_URL=
DRUPAL_JSONAPI_PATH=/jsonapi
